.nav {
  background-color: #2b2b29;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

.logo {
  width: 126px;
  height: 40px;
}

.navUl {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.navlink {
  text-decoration: none;
  color: #fefefe;
  font-family: sans-serif;
  font-weight: lighter;
}

.navlink:hover {
  color: #9f9385;
}

.signup {
  text-decoration: none;
  color: #fefefe;
  background-image: linear-gradient(#cbbaac, #b18e72, #b18e72, #8f745e);
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
}
